@charset "UTF-8";

html,
body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#loginMenu li {
  list-style-type: none;
  display: inline;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  background-color: #026ee0;
  border-radius: 3px;
}
#loginMenu li:hover {
  background-color: #0355ab;
}
#loginMenu a {
  color: snow;
  text-decoration-line: none;
  padding: 5px;
}
#loginBtn a {
  float: right;
  font-size: 22px;
  background-color: #026ee0;
  border-radius: 3px;
  color: snow;
  text-decoration-line: none;
  padding: 8px;
}
#loginBtn a:hover {
  background-color: #0355ab;
}

.tableContainer {
  margin: 20px;
  padding: 20px;
}
